<a href="https://colab.research.google.com/github/rkmaccha/myLearningNotes/blob/main/Categorical_OneHotEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Categorical Encoding - Nominal Data

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount("/content/mydrive")

Mounted at /content/mydrive

In [26]:
df= pd.read_csv("/content/mydrive/MyDrive/MachineLearning_Journey/dataset/cars.csv")

In [4]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [5]:
df['brand'].value_counts()

Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Peugeot             1
Ashok               1
Opel                1
Name: brand, dtype: int64

In [6]:
df['fuel'].value_counts()

Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: fuel, dtype: int64

In [7]:
df['owner'].value_counts()

First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: owner, dtype: int64

ENCODING using Pandas

In [8]:
pd.get_dummies(df,columns=['fuel','owner'])

        brand  km_driven  ...  owner_Test Drive Car  owner_Third Owner
0      Maruti     145500  ...                     0                  0
1       Skoda     120000  ...                     0                  0
2       Honda     140000  ...                     0                  1
3     Hyundai     127000  ...                     0                  0
4      Maruti     120000  ...                     0                  0
...       ...        ...  ...                   ...                ...
8123  Hyundai     110000  ...                     0                  0
8124  Hyundai     119000  ...                     0                  0
8125   Maruti     120000  ...                     0                  0
8126     Tata      25000  ...                     0                  0
8127     Tata      25000  ...                     0                  0

[8128 rows x 12 columns]

In [9]:
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)

        brand  km_driven  ...  owner_Test Drive Car  owner_Third Owner
0      Maruti     145500  ...                     0                  0
1       Skoda     120000  ...                     0                  0
2       Honda     140000  ...                     0                  1
3     Hyundai     127000  ...                     0                  0
4      Maruti     120000  ...                     0                  0
...       ...        ...  ...                   ...                ...
8123  Hyundai     110000  ...                     0                  0
8124  Hyundai     119000  ...                     0                  0
8125   Maruti     120000  ...                     0                  0
8126     Tata      25000  ...                     0                  0
8127     Tata      25000  ...                     0                  0

[8128 rows x 10 columns]

ENCODING using Sklearn-> Preprocessing -> OneHotEncoder

is used on nominal classification catagories

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
ohe = OneHotEncoder(drop='first')

In [15]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [16]:
X = df.drop(columns=['selling_price'],axis=1)
y = df['selling_price']

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=0)

In [18]:
X_train_new = ohe.fit_transform(X_train[['fuel','owner']]).toarray()

In [19]:
X_test_new = ohe.transform(X_test[['fuel','owner']]).toarray()

In [20]:
newData = np.hstack((X_train[['brand','km_driven']].values,X_train_new))

In [21]:
newData.shape

(5689, 9)

In [22]:
sparse_Ohe = OneHotEncoder(drop='first',sparse=False)

In [28]:
X_train_new = sparse_Ohe.fit_transform(X_train[['fuel','owner']])

In [29]:
X_test_new = sparse_Ohe.transform(X_test[['fuel','owner']])

In [30]:
newData = np.hstack((X_train[['brand','km_driven']].values,X_train_new))

In [32]:
newData

array([['Tata', 20000, 0.0, ..., 0.0, 0.0, 0.0],
       ['Maruti', 30000, 0.0, ..., 0.0, 0.0, 0.0],
       ['Maruti', 15000, 0.0, ..., 0.0, 0.0, 0.0],
       ...,
       ['Hyundai', 90000, 0.0, ..., 1.0, 0.0, 0.0],
       ['Volkswagen', 90000, 1.0, ..., 0.0, 0.0, 0.0],
       ['Hyundai', 110000, 0.0, ..., 0.0, 0.0, 0.0]], dtype=object)