<a href="https://colab.research.google.com/github/rkmaccha/myLearningNotes/blob/main/Categorical_Ordinal%26LabelEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CATEGORICAL DATA ENCODING

**Ordinal data** classifies data while introducing an order, or ranking. For instance, measuring economic status using the hierarchy: ‘wealthy’, ‘middle income’ or ‘poor.’ However, there is no clearly defined interval between these categories. <br>

Ordinal Encoding is applied to the independent features

Dataset Collections : https://corgis-edu.github.io/corgis/csv/

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount("/content/mydrive")

Mounted at /content/mydrive

In [3]:
df= pd.read_csv('/content/mydrive/MyDrive/MachineLearning_Journey/dataset/customer.csv')

In [4]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [6]:
data = df[['review','education','purchased']]

In [7]:
X = data.drop(columns=['purchased'],axis=1)
y = data['purchased']

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3)

In [12]:
X_train.shape

(35, 2)

In [16]:
X_train.head()

     review education
9      Good        UG
4   Average        UG
24  Average        PG
18     Good    School
8   Average        UG

In [8]:
from sklearn.preprocessing import OrdinalEncoder

In [17]:
ordEncoder = OrdinalEncoder(categories=[['Good','Average','Poor'],['School','UG','PG']])

In [18]:
ordEncoder.fit(X_train)

OrdinalEncoder(categories=[['Good', 'Average', 'Poor'], ['School', 'UG', 'PG']])

In [19]:
X_train_ord = ordEncoder.transform(X_train)
X_test_ord = ordEncoder.transform(X_test)

In [21]:
X_test_ord

array([[0., 1.],
       [2., 1.],
       [0., 2.],
       [0., 1.],
       [0., 1.],
       [2., 0.],
       [2., 1.],
       [2., 2.],
       [2., 2.],
       [0., 0.],
       [0., 0.],
       [2., 0.],
       [2., 2.],
       [0., 2.],
       [0., 0.]])

LABEL ENCODER

This transformer should be used to encode target values, i.e. y, and not the input X. <br>
Link : https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
LabelEnc = LabelEncoder()

In [24]:
LabelEnc.fit(y_train)

LabelEncoder()

In [25]:
LabelEnc.transform(y_train)
LabelEnc.transform(y_test)

array([1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0])

In [26]:
LabelEnc.classes_

array(['No', 'Yes'], dtype=object)